# Tuple (튜플)
---
* 특징 한 번 생성 시 값의 수정이 안된다.

## tuple 생성

In [4]:
t1 = tuple() # 빈 튜플 선언1
type(t1)

tuple

In [5]:
t2 = () # 빈 튜플 선언2
type(t2)

tuple

In [6]:
# 일반 선언
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

## tuple 연산

In [7]:
tuple1.count(1) # count 연산 - 가로 안에 몇개 있는지 확인

1

In [9]:
tuple1.index(1) # index 연산 - 몇번째 위치에 존재하는지 확인

0

# Set(집합)
---
* 값이 중복해서 들어가지 않음.
* 값이 정렬되서 선언됨.

## Set 선언 방법

In [10]:
s1 = set([1,2,3])
type(s1)

set

In [12]:
s1 = set([5,1,2,34,2,31,23,2,123,2,1,23,34,451,3,3,3,4]) 
s1 # 중복제거 됨.

{1, 2, 3, 4, 5, 23, 31, 34, 123, 451}

In [13]:
# 문자열로 집합으로 가능
set('AABBCCDDEE') # 증복 값 제거 됨.

{'A', 'B', 'C', 'D', 'E'}

## Set 연산

In [14]:
s2 = set([1,2,3])
s3 = set([3,4,5])
print(s2 & s3) # 교집합
print(s2.intersection(s3)) # 위와 같은 교집합
print(s2 | s3) # 합집합
print(s2.union(s3)) # 합 집합
print(s2 - s3) # 차집합
print(s2.difference(s3)) # 차집합

{3}
{3}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
{1, 2}

In [15]:
# add() - 값 하나만 추가
s2.add(10) # 값 추가
print(s2)
# 다시 추가
s2.add(10)
print(s2) # 의미 X -> 집합이므로

{10, 1, 2, 3}
{10, 1, 2, 3}

In [16]:
# update - 값 리스트로 추가(여러개 추가)
s2.update([11,12])
print(s2)

{1, 2, 3, 10, 11, 12}

In [17]:
# mini Quiz
list1= [1, 2, 1, 4, 5, 1, 3, 5, 7, 8, 1]
len(set(list1))

7

## 연습문제
[점프 투 파이썬](https://wikidocs.net/42526)

In [19]:
# Q1
hong_score = {'국어' : 80, '영어' : 75, '수학' : 55}
hong_score['평균 점수'] = sum(list(hong_score.values())) / len(list(hong_score.items()))
hong_score

{'국어': 80, '영어': 75, '수학': 55, '평균 점수': 70.0}

In [20]:
# Q2
input_num = int(input('숫자를 입력해 주세요 : '))
input_num % 2 
# 1이면 홀수
# 0이면 짝수

숫자를 입력해 주세요 :  1

1

In [21]:
# Q3
hong_personal_number = '881120-1068234'
hong_personal_number.split('-')

['881120', '1068234']

In [22]:
# Q4
print(hong_personal_number[7])

1

In [23]:
# Q5
a = "a:b:c:d"
"#".join(a.split(':'))

'a#b#c#d'

In [24]:
# Q6
list_num = [1, 3, 5, 4, 2]
list_num.sort(reverse=True)
list_num

[5, 4, 3, 2, 1]

In [25]:
# Q7
list_str = ['Life', 'is', 'too', 'short']
' '.join(list_str)

'Life is too short'

In [26]:
# Q8
a = (1, 2, 3)
# 튜플은 수정이 불가능 하므로 기존 튜플을 바꾸는게 아니라
# 새로운 튜플을 생성해서 대입하는 형태
a = a + (4,)

print(a)

(1, 2, 3, 4)

In [27]:
# Q9
# 3번 dict의 key값에는 리스트가 불가능!

In [28]:
# Q10
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(result)
print(a) # B 제거

80
{'A': 90, 'C': 70}

In [29]:
# Q11
a = [1,1,1,2,2,3,3,3,4,4,5]
print(list(set(a)))

[1, 2, 3, 4, 5]

In [31]:
# Q12
a = b = [1, 2, 3]
a[1] = 4
# b도 값이 변경
# a가 가지고 있는 값은 b의 주소에 해당되는 값을 가르키므로
# a가 변경되도 b의 값이 변경된다. C의 포인터 개념!
# 동일한 객체를 가르키고 있다.
print(b)

[1, 4, 3]