# 파이썬 기초 1
* list, set, dictionary, tuple

## List 리스트
* 대괄호 사용

In [1]:
# 기초
i = [1,2,3,4]

In [2]:
i

[1, 2, 3, 4]

In [3]:
type(i) # 타입 확인

list

In [6]:
li = [1, '2', True]

* 다양한 자료형을 포함해서 리스트 선언이 가능
* 이는 장점으로 생각할 수 있으나, 하지만 차후 데이터 사용시 숫자형인지 문자형인지 구분이 잘 안되는 단점 존재

## list 선언 방식
* 아래에 내용을 넣어서 선언도 가능하다

In [8]:
list1 = [] # 빈 리스트 선언1

In [9]:
list2 = list() # 빈 리스트 선언2

In [10]:
list1, list2 # 확인

([], [])

## list 인덱싱(indexing) & 슬라이싱(slicing)
* 리스트 요소에 접근하는 방법
* list[A], list[A:B], list[A:B:C]의 꼴이 존재 
    * A는 시작지점 혹은 행당 위치
    * B는 끝을 의미하거나 해당 위치까지를 의미
    * C는 리스트의 간격을 의미한다.

In [12]:
num = [1,2,3,4,5] # 리스트 하나 선언

In [13]:
num[2] # list 0번째 요소부터 있다! 2는 3번째 요소이다.

3

In [15]:
num[-1] # 맨 뒤에 있는 요소 출력

5

In [16]:
num[2:] # 3번째 요소부터 끝까지

[3, 4, 5]

In [17]:
num[:-1] # 맨 뒤의 자료형를 제외하고 나머지 자료들을 다 들고 옴

[1, 2, 3, 4]

* 일반적으로 인공지능에서 data 맨뒤에 label된 데이터를 가지고 있고 있기 때문에 구분해서 사용

In [19]:
num[:5:2] # 5번째 요소까지 까지 2의 간격으로 출력

[1, 3, 5]

In [20]:
num[::-1] # 뒤집어서 뒤부터 출력

[5, 4, 3, 2, 1]

## 2중 list
* 리스트 안에 리스트
* list[list[]]

In [27]:
# 2중 list 선언 가독성을 위해서 리스트끼리를 구분해서 사용
mat = [[1,2,3,4],
        [5,6,7,8],
        [9,10,11,12]]

In [28]:
mat # 확인

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### 관련 연산 indexing & slicing

In [29]:
mat[0] # 0번쨰 요소에 접근, 큰 틀로 되어 있으므로 list의 행에 먼저 접근

[1, 2, 3, 4]

In [31]:
mat[0][0] #0번째 요소의 0번째 요소에 접근, 큰 요소 중 0번째 요소 선택 후 그 안에 리스트에서 0번째 요소 선택

1

In [33]:
# slicing
mat[0][1:3] # 0번쨰 요소에서 1에서 2까지의 요소 출력

[2, 3]

In [35]:
mat2[1:][1:3] # 우리가 예상한것과 다름.

[[9, 10, 11, 12]]

* 계산 법칙이 조금 깨짐
* 해당 계산방식이 우리의 예상과 다르기 때문에 2중 리스트를 사용하기 위해서는 차후 한단계씩 차근차근 선언해서 가져와야한다.
* 따라서 이러한 방식으로 리스트를 연산하지 않고 우리가 예상한대로 작동하는 pandas를 사용할 예정

## list 연산

In [36]:
num = [1,2,3,4,5]
num[0] + num[1] # list 요소들 끼리의 합

3

In [37]:
# list끼리의 더하기 연산은 리스트안의 값들이 더해지는게 아니라 리스트가 하나로 합쳐진다.
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
# 문자열 연산과 비슷 같은 리스트가 세번 반복되서 출력
l1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [39]:
mat2 = [[1,2,3,4],
        [5,6,7,8],
        [9,10,11,12]]
mat2[1] * 3 # 2중리스트도 똑같이 계산

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [40]:
mat2[1][1] * 3 # 리스트 하나의 index는 해당 변수형을 따름.

18

## list index 변경(변수처럼 사용)

In [44]:
# 하나의 index를 변경시킴
l1[0] = 100
l1

[100, 2, 3, 4]

In [45]:
# slicing + 내용 변경
l1[1:3] = [101, 102]
l1

[100, 101, 102, 4]

In [46]:
del l1[-1] # 해당 위치의 index 삭제
l1

[100, 101, 102]

## list 관련 함수 사용
* append
* insert
* remove
* sort
* index
* pop
* count

### append()

In [47]:
l = [] # 빈 리스트 생성
l.append(1) # 추가
l # 확인

[1]

In [48]:
l.append(2) # 천천히 하나씩 뒤로 쌓아가듯이 더해진다.
l

[1, 2]

In [49]:
# insert() : index에 요소 추가
l.insert(0,3) # 0번째 위치에 3을 추가한다.
l

[3, 1, 2]

In [50]:
l.insert(1,4) # 1번째 위치에 4를 추가한다.
l

[3, 4, 1, 2]

### remove()

In [51]:
l.remove(2) # 2에 해당하는 값을 제거한다. 
l
# 2가 없으면 에러발생.

[3, 4, 1]

### sort()

In [53]:
l.sort()
l # 오름차순으로 정렬

[1, 3, 4]

In [55]:
l.append('a')
l.sort()
l
# 문자형과 숫자는 정려하기가 안된다. # 오류 발생

TypeError: '<' not supported between instances of 'str' and 'int'

In [60]:
# 내림차순으로 정렬
l = [1,2,3,4]
l.sort(reverse=True)
l # 원본이 바뀌는 방법

[4, 3, 2, 1]

In [64]:
print(sorted(l)) # 원본이 바뀌지 않고 정렬된다.  
l # 원본

[1, 2, 3, 4]

[4, 3, 2, 1]

### index()

In [65]:
l = [1,2,3,4]
l.index(3) # 해당 위치의 index 값을 반환한다.

2

### pop()

In [66]:
print(l.pop()) # 뒤에 자리에 있는 index를 꺼내고 그것을 지운다.
l

4

[1, 2, 3]

### count()

In [68]:
# list안에 몇개가 들어있는지 알수 있는 함수
l =[1,1,1,2,3,4,2,33,2,1,3,21,2,3,2,1]
l.count(1)

5

## Quiz
1. `list1 = [13, 53, 24, 35, 38]`를 큰 수부터 작은수로 정렬하시오.  
2. `list2 = ["Hello", "My", "Friends"]`를 `"Hello My Friends"`라는 문자열로 출력하시오.  
3. `"DP, 오징어게임, 슬기로운 의사생활"`을 `Netflex_list`라는 변수에 리스트로 만들어보세요.  
4. 위의 `Netflex_list`에 `"호텔 델루나"`를 추가해보세요.  
5. `"갯마을 차차차"`를 `netflix_list` 맨 앞에 추가해보세요.  
6. `"DP`"를 삭제하고 그 위치에 `"검은태양"`을 추가해보세요.  
7. `list3 = [294, 185, 1384, 1282, 375, 283]`의 최대, 최소, 합, 평균을 구하시오.  
8. `str1 = "naver,sk,google,kakao"`에서 각각의 회사명을 `company_list`에 넣고 오름차순으로 정렬하세요

In [69]:
# Quiz 1
list1 = [13, 53, 24, 35, 38]
list1.sort(reverse = True)
list1

[53, 38, 35, 24, 13]

In [70]:
# Quiz 2
list2 = ["Hello", "My", "Friends"]
str1_list2 = list2[0] + " "  + list2[1] + " " + list2[2]
str1_list2

# another Method
" ".join(list2) # join함수 사용

'Hello My Friends'

In [76]:
# Quiz3
Netflex_list =["DP","오징어게임","슬기로운 의사생활"]
Netflex_list

['DP', '오징어게임', '슬기로운 의사생활']

In [77]:
# Quiz4
Netflex_list.append("호텔 델루나")
Netflex_list

['DP', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [78]:
# Quiz5
Netflex_list.insert(0, "갯마을 차차차")
Netflex_list

['갯마을 차차차', 'DP', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [79]:
# Quiz6
index_dp = Netflex_list.index("DP")
Netflex_list.remove("DP")
Netflex_list.insert(index_dp, "검은태양")
Netflex_list

['갯마을 차차차', '검은태양', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [80]:
# Quiz7
list3 = [294, 185, 1384, 1282, 375, 283]
print(f'최대값 : {max(list3)}')
print(f'최소값 : {min(list3)}')
print(f'합 : {sum(list3)}')
print(f'평균값 : {sum(list3)/len(list3)}')

최대값 : 1384
최소값 : 185
합 : 3803
평균값 : 633.8333333333334

In [81]:
# Quiz8
str1 = "naver,sk,google,kakao"
company_list = str1.split(',')
print(company_list)
company_list.sort()
print(company_list)

['naver', 'sk', 'google', 'kakao']
['google', 'kakao', 'naver', 'sk']