# 모듈
* `import A` - A라는 모듈을 받아드리겠다.
* `import A as B` - A라는 모듈를 B로 사용하는 방식으로 받아드리겠다.
* `from A import C` - A라는 모듈에서 C라는 함수를 직접사용하겠다.
* `from A import *` - A라는 모듈의 모든 함수를 직접 사용하겠다.
* `from`과 같이 함수의 이름를 직접 사용하는 것은 다른의미의 함수가 있을 수 있으므로 추천하는 방법이 아니다.
* 하지만 그 모듈만 가지고 있는 독특한 함수를 가지고 있으면, 사용해도 된다. 머신러닝 및 딥러닝에서는 LinearRegression과 같은 함수는 그냥 from으로 불러온다
---

## 모듈 기본 사용

In [4]:
# mod1를 외부에다 선언
def add(x, y):
    return x+y

In [5]:
# method 1
import mod1
mod1.add(1,2)

3

In [7]:
# method 2
import mod1 as m
m.add(1,2)

3

In [6]:
# method 3
from mod1 import add
add(1,2)

3

In [8]:
# method 4
from mod1 import *
add(1,2)

3

In [9]:
# 해당 모듈에 없는 경우
import mod1
mod1.ai.func

AttributeError: module 'mod1' has no attribute 'ai'

# Print함수
* `print('문자열', sep = '', end('\n')`
* `sep`은 중간 분리할때 사용하는 방식
* `end`는 마지막에 어떤 값을 입력해주는지

In [10]:
# 기본
print('Hello', 'World')
print('Hi', 'Python')

Hello World
Hi Python

In [11]:
# sep, end
print('Hello', 'World', sep = '/') 
print('Hi', 'Python', end = '*')

Hello/World
Hi Python*

## Format 형식
* `print('{},{}').format(value1, value2))`
* `{}` 안에 값을 넣어서 순서 지정도 가능.

### 문자

In [13]:
# 기본
print('This is {}, That is {}'.format('apple', 'banana'))
# 순서 지정
print('This is {1}, That is {0}'.format('apple', 'banana'))
# 변수 사용 1
a, b = 'apple', 'banana'
print('This is {}. That it {}'.format(a, b))
# 변수 사용 2
print('This is {fruit1}, That is {fruit2}'.format(fruit1= 'apple', fruit2 = 'banana'))

This is apple, That is banana
This is banana, That is apple
This is apple. That it banana
This is apple, That is banana

### 숫자

In [14]:
# 반올림 해서 3자리까지 출력
print('This is {:0.3f}'.format(123.456789))

This is 123.457

In [15]:
# {0:0.10f} 콜론 앞에 0을 붙여서 0이 출력됨.
print('This is {0:0.10f}'.format(123.45678))

This is 123.4567800000

In [16]:
# 정수 출력
# {:03d} == 세 자리로 채워라 자리수를 맞추지 않으면 맨 앞에 0을 넣는다.
print('This is {:03d}'.format(12))
print('This is {:3d}'.format(12))

This is 012
This is  12

In [17]:
# 정수 출력
# {0:03d} 콜론 앞에 0은 생략하기도 함.(자리수가 맞기 때문)
print('This is {0:03d}'.format(1234))

This is 1234

## 포맷팅
* `f'{}'`
* %s : 문자열
* %d : 정수
* %f : 실수
* %o : 8진수
* %x : 16진수

In [18]:
# 제일 앞에 f는 format 했다는 의미
# 빼도 되지만 포맷팅이란 걸 알려주기 위해서 맨 앞에 쓰는 것!
print('this is %s. That is %s.'%('apple', 'banana'))
print(f'this is %s. That is %s.'%('apple', 'banana'))
# 변수 이용
a, b = 'apple', 'banana'
print(f'this is {a}. That is {b}.')

this is apple. That is banana.
this is apple. That is banana.
this is apple. That is banana.

In [19]:
# 정수 출력
print(f'The value is %d' %1)

The value is 1

In [20]:
# 정수 출력 - 자릿수 조절
print(f'The value is %5d' %1)
print(f'The value is %05d' %1)

The value is     1
The value is 00001

In [21]:
# 구구단
for i in range(2,10) :
    for j in range(1,10) :
        print(f'{i} X {j} = {i*j:2d}') # %2d를 씀으로써 2자리로 만들라는 소리로 앞에 공백이 들어감

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 =  6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 =  7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 =  8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [22]:
# 소수 출력
print(f'The value is %.3f'%123.456789)
print(f'The value is {123.4567:.3f}')

The value is 123.457
The value is 123.457

## 2, 8, 10, 16진수
* 2진수 : 0 or 1  
* 8진수 : 0 ~ 7  
* 10진수 : 0 ~ 9  
* 16진수 : 0 ~ f   
    * 0 ~  f   - 16진수 
    * 0 ~ 1111 - 2진수로 사용
---
|진수|0|1|2|3|4|5|6|7|
|:---|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|2진수 | 0 | 1 | 10 | 11 | 100 | 101 | 110 | 111 |  
|10진수| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 |  

|진수|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|
|:---|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|8진수 | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 20 |
|10진수| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 |  
|16진수| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | a | b | c | d | e | f | 10 | 11 |

In [23]:
# 8진수 출력
for i in range(10) :
    print(f'The value is %o'%i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 10
The value is 11

In [24]:
# 16진수 출력
for i in range(18) :
    print(f'The value is %x'%i)

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is a
The value is b
The value is c
The value is d
The value is e
The value is f
The value is 10
The value is 11

In [25]:
# 부동 소수점
# 파이썬은 생각보다 계산에 대해서 오차가 발생함.
0.1+0.1+0.1

0.30000000000000004